#bottom {
    width:100%; padding:180px 0px 0px; background:#fff; transition:0.5s;

    .inner{
        width:1180px; margin:0px auto; position:relative;

        .wrap{
            article{
                width:490px; position:relative;

                &:nth-of-type(1) {padding:40px 0px; font:20px/1.1 'arial'; color:#777; float:left;
                    
                    p {font:20px/1.2 'arial'; color:#888; margin-bottom:20px; position:relative;font-family: 'Nunito Sans', sans-serif;
                        
                        b {color:orange; }
                    }
                }

                &:nth-of-type(2) {padding:40px 0px; float:right; position:relative;
                    
                    h2 {font:bold 18px/1 'arial'; color:orange; margin-bottom:10px; position:relative;font-family: 'Nunito Sans', sans-serif;}

                    p {font:14px/1.2 'arial'; color:#888; margin-bottom:20px; position:relative;font-family: 'Nunito Sans', sans-serif;}

                    .pic {width:160px; height:160px; background-image: url(../img/main/bottom/img/pic3.jpg); background-size: cover; position:absolute; right:40px; top:-30px;}

                    .btn {display:block; width:100px; height:30px; border-radius:15px; border:1px solid orange; text-align:center; font:12px/30px 'arial'; color:orange; position:relative; font-family: 'Nunito Sans', sans-serif;
                        
                        &:hover {background: #aaa; color: #eee; transition: 0.5s;}
                    }

                    &::before {content:''; display:block; width:70%; height:100%; background:#eee; position:absolute; bottom:0px; right:0px;}
                }
            }
        }
    }
}



//tablet
@media screen and (max-width:$tablet){
    #bottom {padding:250px 20px 0px; box-sizing:border-box;
        .inner {width:100%;
            .wrap{
                article{
                    width:49%;

                    &:nth-of-type(2){
                        .pic{
                            width:100%; height:120px;position:relative; right:0px; top:0px; margin-top:20px; margin-bottom:20px; background-image: url(../img/main/bottom/img/img20.jfif); background-position-y: 87%;
                        }
                    }
                }
            }
        }
    }

}

//cellphone
@media screen and (max-width:$cellphone){
    #bottom{
        .inner{
            .wrap{
                article{
                    width:100%;
                }
            }
        }
    }
}
@media screen and (max-width:450px){
#bottom {padding: 100px 20px 0px;}
}  