#footer_sub {
    width:100%; background:#555;

    .inner {width:1180px; margin:0px auto;
        
        .upper {width:100%; padding:50px 0px 20px; border-bottom:1px solid #888;
            
            &::after {content:''; display:block; clear:both;}

            .terms {float:left;
                
                li {float:left; margin-right:20px;
                
                    a {font:bold 14px/1 'arial'; color:#888;}
                }
            }

            .sns {float:right;
                
                li {float:left; margin-left:20px;
                    a {font:20px/1 'arial'; color:#888;}
                }
            }
        }

        .lower {width:100%; padding:30px 0px 80px;
        
            &::after {content:''; display :block; clear:both;}

            h1 {float:left; font: bold 30px/1 'arial'; color:#999; width:30%;}

            address {width:70%; float:right; font:14px/1.2 'arial'; color:#888; margin-bottom:10px; text-align:right;}

            p {width:70%; float:right; font:14px/1 'arial'; color:#888; text-align:right;}
        }
    }
}

//tablet
@media screen and (max-width:$tablet){

    #footer_sub{
        .inner{
            width:100%;

            .upper {padding:50px 20px 20px; box-sizing:border-box;
                .terms {width:100%; margin-bottom:20px;}

                .sns {float:left; width:100%;
                    li {margin-left:0px; margin-right:20px;}  
                }
            }

            .lower {padding:30px 20px 80px; box-sizing:border-box;
                
                h1 {width:100%; margin-bottom:20px;}

                address {width:100%; text-align:left; margin-bottom:10px;}
                
                p {width:100%; float:left; text-align:left;}
            }
        }
    }
}
//cellphone
@media screen and (max-width:$cellphone){
    
}